.Mission {
    height: 120px;
    width: 120px;
    border: 3px solid #d9d9d9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    margin-left: 25px;
}

@keyframes alternateColors {
  from {border: 4px solid #850000;}
  to {border: 4px solid #001885;}
}

.current {
    animation-name: alternateColors;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.failed {
    background-color: #850000;
}

.successful {
    background-color: #001885;
}
